@model LocaFilme.ViewModels.NewMovieViewModel

@{
        var title = Model.Id == 0 ? "New Movie" : "Edit Movie";
        ViewBag.Title = title;
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@*Action = Save, controller = Movies*@
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @*@Html.TextBoxFor(" ", new { @class = "form-control" })*@
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.genres,"Id", "GenreName"), "Select Genre Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    //Hidden Form
    @Html.HiddenFor(m => m.Id)

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary" >Save</button>
}

@*Client Side Validation*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




